apiVersion: v1
kind: ConfigMap
metadata:
  name: searxng-config
  namespace: ollama
data:
  settings.yml: |
    use_default_settings: true
    
    general:
      instance_name: "SearXNG"
      privacypolicy_url: false
      donation_url: false
      contact_url: false
      enable_metrics: false
    
    search:
      safe_search: 0
      autocomplete: "duckduckgo"
      default_lang: "en"
      formats:
        - html
        - json
    
    server:
      limiter: false  # Disable rate limiting for internal use
      image_proxy: true
      method: "GET"
      # secret_key will be set via SEARXNG_SECRET environment variable
    
    ui:
      static_use_hash: true
      default_theme: simple
      theme_args:
        simple_style: dark
    
    enabled_plugins:
      - 'Hash plugin'
      - 'Self Information'
      - 'Tracker URL remover'
    
    engines:
      - name: google
        disabled: false
      - name: duckduckgo
        disabled: false
      - name: wikipedia
        disabled: false
      - name: bing
        disabled: false
