apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: immich-dev

resources:
  - ../../base
  - namespace.yaml
  - helmrelease.yaml
  - db-secret-dev.enc.yaml
  - pvc-postgresql.yaml
  - pvc-bigboi.yaml
  - ingress.yaml
  - redis.yaml

patchesStrategicMerge:
  - postgresql-patch.yaml
