apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-postgresql
  namespace: immich-dev
spec:
  template:
    spec:
      containers:
      - name: postgresql
        env:
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: immich-database-secret-dev
              key: DB_DATABASE_NAME
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: immich-database-secret-dev
              key: DB_USERNAME
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: immich-database-secret-dev
              key: DB_PASSWORD
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 250m
            memory: 256Mi

