network:
  version: 2
{% if network_renderer is defined %}
  renderer: {{ network_renderer }}
{% endif %}
  ethernets:
    {{ primary_nic }}:
{% if node_network_mode | default('static') == 'dhcp_reserved' %}
      dhcp4: true
{% if node_dns_servers is defined and node_dns_servers | length > 0 %}
      nameservers:
        addresses:
{% for dns in node_dns_servers %}
          - {{ dns }}
{% endfor %}
{% endif %}
{% else %}
      dhcp4: false
      addresses:
        - {{ node_ipv4_address }}
{% if node_ipv4_gateway is defined %}
      routes:
        - to: default
          via: {{ node_ipv4_gateway }}
{% endif %}
{% if node_dns_servers is defined and node_dns_servers | length > 0 %}
      nameservers:
        addresses:
{% for dns in node_dns_servers %}
          - {{ dns }}
{% endfor %}
{% endif %}
{% endif %}

